body {
    background-color: white;
    height: 100%; 
    width: 100%; 
    padding: 0; 
    margin: 0;
}

#contentWrapper {
    width: 100%;
}

#leftMenu {
	float:left;
	width: 300px;
	height: 100%;
}

#frameDiv {
	overflow:hidden; 
	height: 100%;
	min-width:250px;
}

#mainFrame {
	padding-left: 10px;
	width: 99%;
	height: 99%;
}

h1,h2,h3 {
    padding-left: 10px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
